<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    ﻿
@{
    ViewBag.Title = "About";
}
@{       string[] items = { "abc", "xyz" };
    bool showMessage = false;
}}

<div>
    @ViewBag.Message in About
    <h2> @ViewBag.Title </h2>
    <p>  @ViewData["Message1"]</p>

    <ul>
        @foreach (var item in items)
        {
            <li>
                @item;
            </li>

        }
    </ul>

    @if (showMessage)
    {
        <span>its true</span>
    }
    else
    {

        <span>its false</span>

    }

</div>

</body>
</html>

